body{
	background-image: url("strawberrybg.jpg");   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
}




.nav-link{
  color: white;
  margin-top: 22px;
  font-style: italic;
 
}

.logopic{
  margin-top: 15px;
  margin-left: 15px;
  width: 150px;
  height: 83px;
}

.column {
  float: left;
  width: 33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

h1{
  font-size: 400%;
  font-style: italic;
  font-weight: bold;
  color: white;
}

.input-group{
  width: 200px;
}

.leftclmn{
  margin-left: 5%;
}

.fruitinfo{
  width: 400px;
  color: white;
  font-style: italic;
 background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0%;
  padding: 15px 15px 15px 15px;

}

.nfpic{
  height: 500px;
  width: auto;
}

.combinations{
  font-style: italic;
  font-weight: bold;
  color: white;
  font-size: 100%;
  margin-left: 5%;
}

.columnshop{
  float: left;
  width: 14%;
}

.rowshop{
  margin-left: 4%;
}


.rowshop:after {
  content: "";
  display: table;
  clear: both;
}

.card{
  background-color: rgba(0, 0, 0, 0);
  font-style: italic;
  text-align: center;
  border: none;
     
}

.card-title{
  font-style: italic;
  font-style: bold;
  color: white;
}

.card-img-top{
  height: 100px;
  width: 100px;

}
.fs{
  color: black;
  font-style: italic;
  font-weight: bold;
 
}


.nav{
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
   z-index:1;
 
}

.infof{
  margin-left: -8%;
}

.rightclmn{
  margin-left: -8%;
}

input[type=phone], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.forma{
 width: 300px;
 height: 250px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
}